<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codecoy.caribbean">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Caribbean">
        <activity android:name=".activities.ShopView" />
        <activity android:name=".activities.ShopsViewer" />
        <activity android:name=".activities.ExplorerTourism"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".activities.CountryIntro" />
        <activity android:name=".activities.LocalTourist" />
        <activity android:name=".activities.TourismTips" />
        <activity android:name=".activities.TouristTypeSelection" />
        <activity android:name=".activities.CountriesSelection" />
        <activity android:name=".activities.IntroScreen" />
        <activity android:name=".activities.EmailVerification" />
        <activity android:name=".activities.SignUp" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>